<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Facebook Graph Apı</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
  </head>

  <body>
        
        
        <a class="ui-button" href="https://www.facebook.com/dialog/oauth?
  client_id=1398855370365052
  &redirect_uri=http://chatsocial.me:3000/facebook/">Log In with Facebook</a>
        
        
  </body>
</html>

